[Unit]
Description=Voaremolelas - paragliding weather analyzer (Almargem)
Requires=voaremolelas-network.service
After=network-online.target voaremolelas-network.service
Wants=network-online.target

[Container]
ContainerName=voaremolelas
Image=localhost/voaremolelas:latest
PublishPort=127.0.0.1:5555:5555
Network=voaremolelas

[Service]
Restart=always

[Install]
WantedBy=default.target
